
<h3>Контакты</h3>
<div class="lefttable">		
<a href="#">Админ/Царь</a><br>
	<a href="#">Модер</a><br>
	<a href="#">Кто-то еще</a><br>		
</div>
<div class="righttable">		
	<a href="#">Кто-то еще</a><br>
	<a href="#">Кто-то еще</a><br>
	<a href="#">Кто-то еще</a><br>		
</div>
<div style="clear: both;"></div>
